.bl-screen {
    display: flex;
    flex-direction: row;
    background-color: white;
    min-height: calc(100vh - 80px);
    height: 100%;
    width: 100vw;
}

.bl-tasks,
.bl-in-progress,
.bl-done {
    display: flex;
    flex-direction: column;
    width: 33.35%;
    border-style: solid;
    border: 0 5px;
    align-items: center;
    padding-top: 1.5rem;
    overflow-y: auto;
    
}

.new-task-input-container {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: center;
    align-items: center;
    margin: 0.5rem;
}

.new-task-input {
    width: 80%;
    height: 40px;
    border-width: 4px;
    padding-left: 0.25rem;
    margin-right: 0.25rem;
}

.btn-create-task {
    background-color: transparent;
    color: #242424;
    padding: 8px 20px;
    margin: 0 5px;
    border: 2px solid #242424;
    transition: all 0.3s ease-out;
    font-size: 20px;
}

.btn-create-task:hover {
    background: #242424;
    color: #ffffff;
    transition: all 0.3s ease-out;
    cursor: pointer;
}

.empty-task-list {
    margin: auto;
    font-size: 72px;
    opacity: 0.5;
}

.divider {
    width: 100%;
    min-height: 40px;
    margin: 0.5rem;
}