* {
    box-sizing: border-box;
}

body {
    background: black;
}

.login-screen {
    width: 100vw;
    height: 100vh;
    background-color: black;
}

.login-box {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 400px;
    padding: 40px;
    transform: translate(-50%, -50%);
    background: #242026;
    box-shadow: 0 15px 25px rgba(143, 124, 236, 0.7);
    border-radius: 10px;
}

.login-box h2 {
    margin: 0 0 30px;
    padding: 0;
    color: #ffffff;
    text-align: center;
}

.login-box .user-box input {
    position: relative;
    width: 100%;
    padding: 10px 0;
    font-size: 16px;
    color: #ffffff;
    margin-bottom: 30px;
    border: non;
    border-bottom: 1px solid #ffffff;
    outline: none;
    background: transparent;
}

.login-box .user-box label {
    position: relative;
    left: 0;
    top: -60px;
    padding: 10px 0;
    font-size: 16px;
    color: #ffffff;
    pointer-events: none;
    transition: all 0.5s;
}

.login-box .user-box input:focus + label,
.login-box .user-box input:not(:placeholder-shown) + label {
    top: -85px;
    left: 0;
    color: #8F7CEC;
    font-size: 12px;
}

.submit {
    padding: 10px 20px;
    background-color: #242026;
    color: #CBBDDB;
    font-size: 16px;
    text-decoration: none;
    text-transform: uppercase;
    overflow: hidden;
    transition: 0.5s;
    letter-spacing: 4px;
    border: 1px solid #8F7CEC;
    margin: auto;
}

.submit:hover {
    background: #8F7CEC;
    color: white;
    border-radius: 5px;
    box-shadow: 0 0 5px #8f7CEC, 0 0 50px #8F7CEC, 0 0 100px #8F7CEC;
    cursor: pointer;
}

.button-form {
    display: flex;
    flex-direction: row;
    margin-top: 20px;
}

.register {
    display: flex;
    flex-direction: column;
    gap: 0.25rem;
    font-size: 14px;
    text-decoration: none;
    color: #CBBDDB;
    margin: auto;
    width: 60%;
    text-align: center;
}

.register-forgot-password-container {
    display: flex;
    flex-direction: row;
    margin-top: 1rem;
}

.sign-up,
.forgot-password {
    margin: auto;
    color: #8f7CEC;
    text-decoration: none;
}

.forgot-password {
    background-color: #242026;
    border: none;
    cursor: pointer;
}